<!DOCTYPE html>
<html>

<head>
  <title>
    blogWebsite
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>