<%-include("./partials/header")%>

  <div class="h-[100vh] w-full bg-green-200">
    <%-include("./partials/nav")%>
   <div class="h-[80vh] w-[50%]  mx-auto flex items-center justify-center text-center">
    <h1  class="text-3xl">Welcome to <span class="text-green-500">BLOG</span> Website</h1>
   </div>
  </div>
  <%-include("./partials/footer")%>   