

<%-include("./partials/header")%>
   <div class="flex justify-center flex-col h-[100vh] w-full bg-slate-600 text-white">
    
     <form class=" mx-auto p-6 w-[40%] flex flex-col bg-slate-800  gap-5 rounded " action="/users/login" method="post">
      <h1 class="text-2xl mb-5 text-center">SignIn / Login</h1>
        
      <input class="border-2 border-white p-4 rounded bg-transparent outline-none" type="text" name="username" placeholder="Username">
      <input class="border-2 border-white p-4 rounded bg-transparent outline-none" type="password" name="password" placeholder="Password">
      <button class="px-4 py-2 bg-green-700 text-[1.5vw] rounded">Login</button>
     </form>

   </div>

   <%-include("./partials/footer")%>