<%-include("./partials/header")%>
    <div class="h-[100vh] w-full bg-green-200 text-2xl">
        <div class="p-5">
            <span class=" cursor-pointer hover:text-red-400">BLOGS</span>
        </div>
        <a class="absolute text-[1.5vw] px-5 py-2 rounded hover:bg-slate-400 hover:text-white bg-slate-300 top-5 right-5"
            href="/logout">Logout</a>

            <div class="flex flex-wrap  px-[4vw] gap-5">
                <img class="h-[20vw] rounded" src="https://images.unsplash.com/photo-1531764117131-cbd26e7885f0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bW9kZWwlMjBnaXJsJTIwcG9ydHJhaXQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D" alt="">
                <img class="h-[20vw] rounded position-center" src="https://images.unsplash.com/photo-1579865346865-9223701ba92e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fG1vZGVsJTIwZ2lybCUyMHBvcnRyYWl0JTIwaW1hZ2V8ZW58MHx8MHx8fDA%3D" alt="">
                <img class="h-[20vw] rounded " src="https://images.unsplash.com/photo-1492106087820-71f1a00d2b11?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fG1vZGVsJTIwZ2lybCUyMHBvcnRyYWl0JTIwaW1hZ2V8ZW58MHx8MHx8fDA%3D" alt="">
                <img class="h-[20vw] rounded" src="https://plus.unsplash.com/premium_photo-1669950188295-2791d97536e0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjF8fG1vZGVsJTIwZ2lybCUyMHBvcnRyYWl0JTIwaW1hZ2V8ZW58MHx8MHx8fDA%3D" alt="">
                <img class="h-[20vw] rounded" src="https://images.unsplash.com/photo-1532074205216-d0e1f4b87368?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTY2fHxtb2RlbCUyMGdpcmwlMjBwb3J0cmFpdCUyMGltYWdlfGVufDB8fDB8fHww" alt="">
                <img class="h-[20vw] rounded" src="https://plus.unsplash.com/premium_photo-1690407617542-2f210cf20d7e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTY5fHxtb2RlbCUyMGdpcmwlMjBwb3J0cmFpdCUyMGltYWdlfGVufDB8fDB8fHww" alt="">
                <img class="h-[20vw] rounded" src="https://plus.unsplash.com/premium_photo-1668896123985-edc26d57cab3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjM3fHxtb2RlbCUyMGdpcmwlMjBwb3J0cmFpdCUyMGltYWdlfGVufDB8fDB8fHww" alt="">
                <img class="h-[20vw] rounded" src="https://plus.unsplash.com/premium_photo-1682095667341-349d44c12bad?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjI5fHxtb2RlbCUyMGdpcmwlMjBwb3J0cmFpdCUyMGltYWdlfGVufDB8fDB8fHww" alt="">
                <img class="h-[20vw] rounded" src="" alt="">
                <img class="h-[20vw] rounded" src="" alt="">
            </div>
    </div>
<%-include("./partials/footer")%>